<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/main.css">
  </head>
  <body>
    <div class="skeleton">
      <div class="skeleton-header">
        <!-- Put your site's logo or header here -->
      </div>
      <div class="skeleton-content">
        {{ content }}
      </div>
      <div class="skeleton-footer">
        <!-- Put your site's footer here -->
      </div>
    </div>
    <script src="{{site.baseurl}}/assets/js/theme.js"></script>
  </body>
</html>
